/AK.Wwise.Unity.Timeline.Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/BestHTTP.csproj
/bud_downtown_res.sln
/BudEngine.csproj
/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Library
/Logs
/ProjectSettings
/Temp
/UserSettings
/.vsconfig
/Ak.Wwise.Api.WAAPI.csproj
/AK.Wwise.Unity.API.csproj
/AK.Wwise.Unity.API.Editor.csproj
/AK.Wwise.Unity.API.WwiseTypes.csproj
/AK.Wwise.Unity.MonoBehaviour.csproj
/AK.Wwise.Unity.MonoBehaviour.Editor.csproj
/AK.Wwise.Unity.Timeline.csproj
/Packages
/Assets/Resources/BillingMode.json
/Assets/Resources/BillingMode.json.meta
